body{
	background: url(fon10.jpg) repeat-x 0 100% fixed;
	height: 100%;
	background-size:cover;
	overflow:auto;
	transition: 1s;
	animation: fon10 30s linear infinite;
	font-family: 'Roboto', sans-serif;
}

	@keyframes fon10 {
    from { background-position: -1000px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
	
	@-webkit-keyframes fon10 {
    from { background-position: -1000px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
 
::-webkit-scrollbar{
    width:0.4vw;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: rgba(186,186,186,0.9);
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: rgba(186,186,186,1);
}

::-webkit-scrollbar-track{
    border-width:1;
    background-color: rgba(186,186,186,0.1);
}
a{ 
    text-decoration: none;
} 

table{
	border-collapse: collapse;
}
TD, TH {
    padding:0.3vh; 
	text-align: center;
   }

.left_main_button{
	width:40vw;
	height:12vh;
	margin-left:7vw;
	margin-top:15vh;
	font-size:2.2vh;
	float:left;
	transition:1s;
	background-color:#fff;
	opacity:0.5;
    border-radius: 1%; 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.left_main_button:hover{
	opacity:0.8;
	cursor:pointer;
}

.right_main_button{
	width:40vw;
	height:12vh;
	margin-right:7vw;
	margin-top:15vh;
	font-size:2.2vh;
	float:right;
	transition:1s;
	background-color:#fff;
	opacity:0.5;
    border-radius: 1%; 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.right_main_button:hover{
	opacity:0.8;
	cursor:pointer;
}

.l_bot_main_button{
	width:40vw;
	height:12vh;
	margin-left:7vw;
	margin-top:30vh;
	font-size:2.2vh;
	float:left;
	transition:1s;
	background-color:#fff;
	opacity:0.5;
    border-radius: 1%;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.l_bot_main_button:hover{
	opacity:0.8;
	cursor:pointer;
}

.r_bot_main_button{
	width:40vw;
	height:12vh;
	margin-right:7vw;
	margin-top:30vh;
	font-size:2.2vh;
	float:right;
	transition:1s;
	background-color:#fff;
	opacity:0.5;
    border-radius: 1%;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.r_bot_main_button:hover{
	opacity:0.8;
	cursor:pointer;
}

.container{
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center; 
}

.left_sub_button{
	width:40vw;
	height:0vh;
	font-size:2.2vh;
	transition:1s;
	float:left;
	margin-left:7vw;
	background-color:#fff;
	opacity:0.5;
    border-radius: 0% 0% 1.5% 1.5%; 
}

.right_sub_button{
	width:40vw;
	height:0vh;
	font-size:2.2vh;
	transition:1s;
	float:right;
	margin-right:7vw;
	background-color:#fff;
	opacity:0.5;
    border-radius: 0% 0% 1.5% 1.5%; 
}

.l_bot_sub_button{
	width:40vw;
	height:0vh;
	font-size:2.2vh;
	transition:1s;
	float:left;
	margin-left:7vw;
	background-color:#fff;
	opacity:0.5;
    border-radius: 0% 0% 1.5% 1.5%; 
}

.r_bot_sub_button{
	width:40vw;
	height:0vh;
	font-size:2.2vh;
	transition:1s;
	float:right;
	margin-right:7vw;
	background-color:#fff;
	opacity:0.5;
    border-radius: 0% 0% 1.5% 1.5%; 
}


.a4{
	transition:1.4s;
	float:left;
	width:40%;
	margin-left:4.5vw;
	margin-top:3vh;
	opacity:0;
	height:30vh;
}

.a3{
	transition:1.4s;
	float:right;
	width:40%;
	margin-right:2vw;
	margin-top:3vh;
	opacity:0;
	height:30vh;
}
.wfbf{
	transition:1.4s;
	float:left;
	width:40%;
	margin-left:6vw;
	margin-top:3vh;
	opacity:0;
	height:30vh;
}

.wfc{
	transition:1.4s;
	float:right;
	width:40%;
	margin-right:0;
	margin-top:3vh;
	opacity:0;
	height:30vh;
}

.scan_a4a3{
	transition:1.7s;
	float:left;
	width:40%;
	margin-left:4.5vw;
	margin-top:6vh;
	opacity:0;
	height:30vh;
}

.scan_a4a3_bw{
	transition:1.7s;
	float:right;
	width:40%;
	margin-right:2.5vw;
	margin-top:6vh;
	opacity:0;
	height:30vh;
}

.vis_card{
	transition:1.7s;
	float:right;
	width:40%;
	margin-right:12vw;
	margin-top:6vh;
	opacity:0;
	height:30vh;
}