body{
	background: url(fon10.jpg) repeat-x 0 100% fixed;
	height: 100%;
	background-size:cover;
	transition: 1s;
	overflow:hidden;
	animation: fon10 140s linear infinite;
	font-family: 'Roboto', sans-serif;
}

	@keyframes fon10 {
    from { background-position: 3775px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
	
	@-webkit-keyframes fon10 {
    from { background-position: -3000px 100%, 0 0;}
    to { background-position: 0 100%, 0 0; }
   }
a{ 
    text-decoration: none;
} 
table{
	border-collapse: collapse;
	font-size: 2.3vh;
}
TD, TH {
    padding:0.3vh; 
	text-align: center;
   }
   

.count_body {
    height:5%;
    width:5%;
    margin-right:50%;
    margin-top:43%;
    cursor:pointer;
    opacity:0.9;
    position:absolute;
    background-color:Gray;
    transition:0.9s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);  
}

.water_text{
    font-size:40vw;
    color:Gainsboro;
    margin: 0% 0 0 35%; 
    padding-right:3%;
    opacity:0.1;
    position:absolute;
    cursor:default;
	transition:1s;
}
.text_count{
    font-size:1.5vw;
    color:Gainsboro;
    margin: auto; 
    position:absolute;

}

.count_form{
    position:absolute;
    height:2vw;
    width:4vw;
    background-color:Gainsboro;
    border: none;
    font-size:1.5vw;
    margin-top:13%; 
    margin-left:4%;
    transition: width 0.4s ease-in-out;
}

.count_form:focus{
    height:2vw;
    width:17vw;
}

.back_menu{
    float:right;
	font-size:3vw;
	color:Gainsboro;
	width:3%;
	position:absolute;
	margin-left:48.5%;
	transition:1s;
	overflow:hidden;
	height: 100%;
	opacity:0.8;

}
.color_form{
    height:2vw;
    width:10vw;
    background-color:Gainsboro;
    border: none;
    font-size:3vw;
	margin-left:9%;
	display:none;
    transition: width 0.4s ease-in-out;
}
.mat_form{
    height:2vw;
    width:10vw;
    background-color:Gainsboro;
    border: none;
    font-size:1.15vw;
	margin-left:9%;
	display:none;
    transition: width 0.4s ease-in-out;
}
.char_parent{
	width:24vw;
    height:56vh;
	transition-property: margin-left;
	transition-duration: 1s;
	margin-top: 24vh;
	margin-left: -30%;
	position: absolute;
	border:0px solid black;
}

.sub_char_parent{
	width:7.85vw;
    height:56vh;
	transition-property: margin-left,margin-top, opacity;
	transition-duration: 1s;
	margin-top: 20vh;
	font-size:2.3vh;
	position: absolute;
	margin-left: 30vw;
	border:0px solid black;
}

.output_parent{
	width:23vw;
	margin-top: 20vh;
	height: 65vh;
	transition-property: margin-left,margin-top,opacity;
	transition-duration: 1s;
	color: rgba(1,1,1,0.5);
	position: absolute;
	background-color:rgba(255,255,255,0.55);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2); 
	margin-left: 40%;
	border:0px solid black;
}


.under_output{
	width:100%;
	height:100%;
	font-size: 3vh;
}
.char{
	width:15vh;
    height:15vh;
	float: left;
	background-color:rgba(255,255,255,0.55);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2); 
	border-radius: 1%;  
	display: inline-block;
	cursor: pointer;

}

.char:hover{
	background-color: rgba(255,255,255,0.62);
	transition: 0.06s;
}
.under_char{
	width: 100%;
	height: 100%;	
	top: 0;
	background-color: rgba(255,255,255,0.0);
	color: rgba(1,1,1,0.7);
    left: 0;
   	display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.cheque_form{
    width:100%;
	height: 5.5vh;
	margin-top:0vh;
    background-color:rgba(255,255,255,0.4);
    border: none;
	color: rgba(1,1,1,0.5);
	font-size: 4vh;
}

.back_menu_pro{
    float:left;
	overflow: hidden;
	height: 100vh;
	top: 0;
    left: 0;
	width:5vw;
	background-color: rgba(255,255,255,0.00);
	position:absolute;
	transition:1s;
}
.back_menu_pro:hover{
	background-color: rgba(255,255,255,0.3);  
	border-top-right-radius: 100%;  
}
.logo{
	perspective-origin: center bottom;
	float:right;
	display:inline-block;
	margin-right:2vw; margin-top:5.7vh;
	height:15vh;
	width: 15vh;
	background-repeat: no-repeat;
	background-image: url(logogray.png);
	background-size: contain;
	transition: 1s;
	opacity:0.7;
	cursor: pointer;
}

.logo:hover{
	transform: rotateX(360deg);
	transform-style: preserve-3d;
	transition-delay: 0.2s;
	background-image: url(logoblack.png);
}

.info_parent{
	border: 1px solid rgba(255,255,255,0.3);
	position:absolute;
	right:80vw;
	width:10vw;
	height:3vh;
	transition:1s;
	opacity:0;
	background-color:rgba(255,255,255,0.45);
	bottom:0vh;
}

.right_menu_parent{
	float:right;
	background-color:#424242;
	width:6vw;
	top:0;
	right:0;
	height:100vh;
	position:absolute;
	opacity:0.85;
	overflow: hidden;
}

.vc_change{
	border: 0px dotted black;
	border-radius: 3%;
}
.vc_change:hover{
	border: 0px dotted black;
	background: rgba(0,0,0,0.15);
	cursor:pointer;
}
.vc_change_active{
	border: 0px dotted black;
	background: rgba(0,0,0,0.15);
	cursor:pointer;
	border-radius: 3%;
}

.a4{
	transition:1.4s;
	float:left;
	width:18vw;
	margin-left:4.5vw;
	margin-top:20vh;
	display:inline-block;
	opacity:1;
	border-radius:0.7%;
	background-color:rgba(255,255,255,0.6);
	height:37vh;
}
.a3{
	transition:1.4s;
	float:left;
	margin-left:0.5vw;
	width:18vw;
	margin-top:20vh;
	display:inline-block;
	opacity:1;
	border-radius:0.7%;
	background-color:rgba(255,255,255,0.6);
	height:37vh;
}
.scan_a4a3{
	transition:1.4s;
	float:left;
	width:18vw;
	margin-left:4.5vw;
	margin-top:2.8vh;
	display:inline-block;
	opacity:1;
	border-radius:0.7%;
	background-color:rgba(255,255,255,0.6);
	height:27vh;
}

.scan_a4a3_bw{
	transition:1.4s;
	float:left;
	width:18vw;
	margin-left:0.5vw;
	margin-top:2.8vh;
	display:inline-block;
	opacity:1;
	border-radius:0.7%;
	background-color:rgba(255,255,255,0.6);
	height:27vh;
}
.back_menu_parent{
	width:50vw;
	position:absolute;
    display: flex;
    flex-direction: column;
	border: 0px dotted black;
	height:100vh;
	margin-left:-50vw;
	opacity:1;
	transition:1.2s;
}

.back_menu_parent_top{
	width:50vw;
	border: 0px dotted black;
	height:55vh;
}

.back_menu_parent_bot{
	width:50vw;
	border: 0px dotted black;
	height:45vh;
}
